/*css reset*/
* {
  padding:  0;
  margin:  0;
  box-sizing: border-box;
}

.cardHighlight {
  min-height: 100%;
  background-color: lightblue !important;
}

.footerDiv {
  text-align: center;
  margin-top: 1rem;
  padding: 10px;
  background-color: #f8f9fa;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.footerDiv p {
  margin:0;
  padding:0 ;
}

